# Stores connection details for postgres db and lyricsgenius api

# postgres database :
db_user = genius_admin
db_pass = genius_pass
db_host = localhost
db_port = 5432
db_name = genius_db

# lyrics genius api:
client_id = lvgRnlGmt3tnUJ8IPG-yFW1mOn2587QCDUAADHvBy-ReHOIP44ByonPker99O8pC
client_secret = bK3ZSZ_ouuEmKhA_lvg11kypZCA4LRgasMlzoBaKFGkMLQ-1JumBRqCk1ma1kdrjdx7m6yhwIp1IyxqL0TzZVw
access_token = _h3ABkvitizUQrLtzafKDWfs0xPhCkLQYnYlhKN6L9zFpPjkdb5CPd7NnZ1enu3x
