Flask
requests
SQLAlchemy
pytest
transformers
textblob
werkzeug
booktype
flask-limiter
openai
celery
psycopg2-binary
marshmallow
alembic
dotenv
flask-jwt-extended
flask-cors
debugpy
watchdog
watchfiles
sentry_sdk
gunicorn


